/* Full-Screen Layout */
.full-screen {
  width: 100% !important;
  height: 100%; /* Adjust to fill available space */
  margin: 0 !important;
  padding: 20px;
  background-color: #fff8e5;
  box-sizing: border-box;
  overflow-y: auto;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  background: url('../assets/images/community-background.jpg') center/cover
    no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%; /* Make sure it fills the full screen height */
}

h1 {
  font-size: 32px;
  color: #703d02;
  margin-bottom: 20px;
  text-align: center;
}
.leaderboard-title {
  font-size: 32px;
  color: #703d02;
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  /* Additional unique styles, if needed */
}

/* Blog Image */
.blog-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.blog-image:hover {
  transform: scale(1.05);
}

/* Blog Card */
.blog-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
  width: 100%;
  max-width: 800px; /* Limit the maximum width */
  margin-bottom: 30px;
  text-align: center; /* Center the text inside the card */
}

.blog-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.blog-card h2 {
  font-size: 24px;
  color: #703d02;
  margin: 10px 0;
}

.blog-card p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #703d02;
  color: #fff0ca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:hover {
  background-color: #8a4e15;
  transform: scale(1.05);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: #703d02;
}
