:root {
  --bg-color: #fff0ca;
  --accent-color: #703d02;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: var(--accent-color);
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allows the main content to grow/shrink */
}

.home {
  text-align: center;
  padding: 20px;
  flex: 1; /* Ensures this section fills available space */
}

.categories a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #703d02;
  color: #fff0ca;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.2s;
}

.categories a:hover {
  transform: scale(1.1);
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #703d02;
  color: #fff0ca;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
}

.quiz-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.options button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #703d02;
  color: #fff0ca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options button:hover {
  background-color: #91613a;
}

.explanation {
  margin-top: 20px;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgba(112, 61, 2, 1) 0%,
    rgba(136, 108, 85, 1) 100%
  );
  color: white;
  border-top: 1px solid #ddd;
  margin-top: auto; /* Ensures footer is pushed to the bottom */
  width: 100%;
}

.footer nav a {
  color: var(--bg-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s;
}

.footer nav a:hover {
  color: #ffd480;
}
